<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hhu.mapper.ShareMapper">
    <select id="getFileByShareCode" resultType="com.hhu.entity.File">
        SELECT f.* FROM tb_file f
                            JOIN tb_share s on f.file_id = s.file_id
        WHERE s.share_code = #{shareCode}
          AND s.expire_time > NOW()
          AND f.deleted = 0;
    </select>
</mapper>